.first-button {
    border: 10px 10px 10px 10px solid white;
    background-color: auto;

}

body {
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
}

.div-two {
    text-align: center;
    margin-top: 150px;

}

.div-three {
    display: flex;
    justify-content: center;
}

#start {
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

#center {
    background-color: tomato;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

span {
    color: tomato;

}

.small-box {
    border-radius: 5px;

    margin: 30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.084);
}

.small-box-two {
    display: flex;
    text-align: center;
    margin: 5%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.226);
    padding: 5%;
    padding-left: 160px;
    border-radius: 20px;
}


#red-border {
    border: 3px solid tomato;
    border-radius: 5px;
    margin: 30px;
    padding: 30px;
    background-color: peachpuff;
    color: tomato;

}



.div-four {
    margin-top: 100px;

    justify-content: center;
}

.div-five {
    margin-top: 100px;
}

.sec-one {
    display: flex;

}

.half {

    border-radius: 10px;
    margin: 30px;
    padding: 10px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.196);
    margin-left: 40px;
}

footer {
    font-family: 'Gulzar', serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: black;
    height: 200px;
    color: white;
    margin-top: 200px;
}